ipykernel
pandas
numpy
sqlalchemy
psycopg2-binary
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
from-root
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .